* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  padding: 2rem;
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.navLinks {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.pageLink {
  margin-left: 18rem;
  list-style: none;
}

.mainContain {
  margin: 4rem;
  border: 2px solid black;
  border-radius: 1rem;
  height: 50rem;
  background-color: beige;
}

.bsH1 {
  text-align: center;
  margin: 1rem;
}

.sectionBook {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  background-color: white;
  border-radius: 1rem;
}

.bookContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: beige;
  margin-top: 5rem;
}

.BookLayout {
  border: 1px solid black;
  border-radius: 1rem;
  margin: 1rem;
  background-color: white;
}

h3, .author, .description, .rank {
  text-align: center;
}

h3 {
  padding: 1rem;
}

.description {
  padding: 1rem;
}

.imgContain {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.bookImg {
  width: 200px;
  height: 300px;
  border-radius: 1rem;
  padding: 1rem;
}

.buyLinks {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 1rem;
}
