* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pageLink {
  margin-left: 18rem;
  list-style: none;
}

.bookBanner {
  position: relative;
  background-image: url(../image/books.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 50rem;
  background-position: center;
  border: 1px solid black;
  border-top: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headBanner {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 50px
}

h1,h2 {
  text-align: center;
}

/* .mainContain {
  border: 2px solid black;
  border-radius: 1rem;
} */

.bsH1 {
  text-align: center;
  margin: 1rem;
}

.sectionBook {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  background-color: white;
  border-radius: 1rem;
}

.buttonLayout {
  position: relative; /* Add position relative */
  width: 200px;
  height: 60px;
  color: #fff;
  background: #000;
  font-size: 18px;
  text-decoration: none;
}

.buttonLayout:hover {
  background: transparent;
  color: #000;
}


.bookContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5rem;
}

.BookLayout {
  border: 1px solid black;
  border-radius: 1rem;
  margin: 1rem;
  background-color: white;
}

h3,
.author,
.description,
.rank {
  text-align: center;
}

h3 {
  padding: 1rem;
}

.description {
  padding: 1rem;
}

.imgContain {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.bookImg {
  width: 200px;
  height: 300px;
  border-radius: 1rem;
  padding: 1rem;
}

.buyContainer {
  display: flex;
  justify-content: center;
}

.buyLinks {
  list-style: none;
  flex-direction: column;
  margin: 1rem;
}

.footer {
  text-align: center;
  margin-left: auto;
  background-color: black;
  color: white;
  padding: 1rem;
  bottom: 0;
  width: 100%;
}