* {
  margin: none;
  padding: none;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

.Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  background-color: white;
  border-radius: 1rem;
}

.newsBox {
  margin: 3rem;
  width: 23rem;
  height: fit-content;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 1rem;
}


.linkContain {
  display: flex;
  justify-content: center;
}

.link {
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  border: none;
  background-color: #007BFF;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-size: large;
}

.HomeBtn {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.HomeBtn:hover {
  color: white;
  border-bottom: 3.5px solid; 
}

.topCover {
  background-color: black;
  color: white;
}

.imgStory {
  display: flex;
  justify-content: center;
}

.storyImg {
  width: 22.9rem;
  height: 300px;
  /* border-radius: 2rem; */
}

.footer {
  text-align: center;
  margin-left: auto;
  background-color: black;
  color: white;
  padding: 1rem;
  bottom: 0;
  width: 100%;
}