* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}


nav {
  display: flex;
  justify-content: space-around;
  align-content: center;
  padding: 1rem;
}

.lightNav {
  background-color: white;
  color: black;
  background-color: rgb(233, 232, 232);
}
.darkNav {
  background-color: black;
  color: white;
}

.darkNav a {
  color: white;
}
.lightNav a {
  color: black;
}

a {
  text-decoration: none;
}

a:hover{
  border-bottom: 2px solid; 
}

.navLinks {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


.btnToggle {
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #007BFF;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-size: large;
}

.bannerDiv {
  background-image: url('../image/banner.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 50rem;
  background-position: center;
  border: 1px solid black;
  border-top: none;
}

.topStoriesContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 2rem;
}

.newsBox {
  margin: 1rem;
  width: 40rem;
  height: fit-content;
  border-radius: 5px;
  box-shadow: 8px 6px 4px 0 rgba(0, 0, 0, 0.352);
}

.topCoverDiv {
  text-align: center;
  margin: 1rem;
  background-color: black;
  color: white;
  margin: 0;
  border-radius: 5px 5px 0 0;
}

.divImgStory{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.storyImg {
  width: 100%;
}

.h3P {
  border: 1px solid black;
  border-top: none;
  border-bottom: none;
}

.author {
  text-align: center;
}

.description {
  text-align: center;
}

.linkContain {
  display: flex;
  justify-content: center;
}

.linkReadMore {
  width: 100%;
  padding: 1rem;
  border: none;
  background-color: #007BFF;
  border-radius: 0 0 5px 5px;
  cursor: pointer;
  text-align: center;
  font-size: large;
}

.HomeBtn {
  text-decoration: none;
  color: black;
  font-weight: bold;
  align-self: flex-end;
}

.HomeBtn:hover {
  color: white;
  border-bottom: 3.5px solid; 
}


.footer {
  text-align: center;
  margin-left: auto;
  background-color: black;
  color: white;
  padding: 1rem;
  bottom: 0;
  width: 100%;
}