body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}

h1 {
  text-align: center;
  color: #333;
}

select {
  display: block;
  margin: 1rem auto;
  padding: 0.5rem;
  width: 200px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

div.articles-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 1rem;
}

article {
  background-color: #fff;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
}

h3 {
  color: #007bff;
}

img {
  max-height: 200px;
  object-fit: cover;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.btnToggle {
  display: block;
  padding: 0.5rem;
  border: none;
  background-color: #5a6674;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.btnToggle a {
  color: white;
  text-decoration: none;
}

button:hover {
  background-color: #0056b3;
}
