.latestH1 {
  text-align: center;
  background-color: black;
  color: white;
  padding: 1rem;
}

.latestConatiner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  background-color: white;
  border-radius: 1rem;
}

.latestNewsBox{
  margin: 3rem;
  width: 23rem;
  height: fit-content;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 1rem;
  padding-bottom: 1rem; 
}

.latestStoryImg {
  width: 23rem;
  height: 300px;
}

.lastestImgStory {
  display: flex;
  justify-content: center;
}

.latestLinkContain {
  display: flex;
  justify-content: center;
  padding-top: 1rem; 
}

.latestLink {
  width: 100%;
  padding: 1rem;
  background-color: #007BFF;
  color: white;
  text-align: center;
  font-size: large;
  cursor: pointer;
  text-decoration: none; 
  display: block; 
}

.latestLinkContain {
  color: white; 
}

.latestLinkArticle {
  color: #ccc; 
  border-bottom: 3.5px solid white; 
}

.footer {
  text-align: center;
  background-color: black;
  color: white;
  padding: 1rem;
  width: 100%;
  margin-top: 3rem;
}
