* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .topCover {
    text-align: center;
    background-color: black;
    color: white;
    padding: 1rem;
  }
  
  .Container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    background-color: white;
    border-radius: 1rem;
  }
  
  .newsBox {
    margin: 3rem;
    width: 23rem;
    height: fit-content;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 1rem;
    padding-bottom: 1rem; /* Added padding to the bottom for spacing inside the box */
  }
  
  .imgStory {
    display: flex;
    justify-content: center;
    padding: 1rem 0; /* Added padding for spacing around the image */
  }
  
  .storyImg {
    width: 22.9rem;
    height: 300px;
    /* border-radius: 2rem; Uncomment if rounded corners are desired for images */
  }
  
  .linkContain {
    display: flex;
    justify-content: center;
    padding-top: 1rem; 
  
  .link {
    width: 100%;
    padding: 1rem;
    background-color: #007BFF;
    color: white;
    text-align: center;
    font-size: large;
    cursor: pointer;
    text-decoration: none; 
    display: block; 
  }
  
  .LinkHomeBtn {
    color: white; 
  
  .HomeBtn:hover {
    color: #ccc; /* Lighten color on hover for a visual effect */
    border-bottom: 3.5px solid white; /* Adjust color to match the desired hover state */
  }
  
  .footer {
    text-align: center;
    background-color: black;
    color: white;
    padding: 1rem;
    width: 100%;
    margin-top: 3rem; /* Ensure spacing above the footer */
  }
  